*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F7F7F7;
}
.logar{
    height: 450px;
    width: 550px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.log{
    height: 98%;
    width: 49%;
    background-image: url(Advogada.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.log:hover{
    background-image: url(Advogado.jpg);
    background-position: center;
    background-size: cover;
    transition: 1s;
}
.in{
    height: 98%;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    gap: 50px;
}
.son{
    height: 100px;
    width: 100%;
}
.letter1{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #009dff;
}
h3{
    margin: 0 20px;
}
.letter2{
    height: 50%;
    width: 100%;
}
.son1{
    height: 155px;
    width: 95%;
}
.sons{
    height: 100px;
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: center; 
}
input{
    border-radius: 5px;
    margin: 5px;
    height:30px;
    width: 95%;
    text-indent: 10px;
    border: none;
    border: 1px solid #009dff;
}
a{
    margin: 5px 7px;
    font-size: 12px;
    color:#009dff;
}
button{
    border-radius: 5px;
    height:30px;
    width: 85%;
    border: none;
    color: white;
    background-color: #009dff;
}
button:hover{
    border: 1px solid #009dff;
    background-color: white;
    color: black;
    transition:1s;
} 