*{
    margin: 0;
    font-family: sans-serif;
}
body{
   height: 100vh;
   cursor: pointer;
}
.menu{
    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    gap: 20px;
}
.itens{
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}
#maior{
background-color:black;
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.carrinho{
    position: absolute;
    animation:fly 2s alternate infinite;
    transition: 1ms;
    
}

#pai{
    
background-color:white;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 30px;
display: wrap;
padding-top: 35px;

   
}
.filho{
    background-color:blue;
width: 200px;
height: 200px; 
transition: 1s;  
display: flex;
align-items: center;
justify-content: center;
font-size: 15px;
font-weight: 300;
font-family: sans-serif;
color: white;
}

#filho{
    background-image: url(Dadiva.png);
    background-size: cover;
    background-position: center;      
}
#filho1{
    background-image: url(dadiva1.png);
    background-size: cover;
    background-position: center;   
}
#filho2{
    background-image: url(image-2.png);
    background-size: cover;
    background-position: center;
}
#filho3{
    background-image: url(image-3.png);
    background-size: cover;
    background-position: center;
}
#filho4{
    background-image: url(image-4.png);
    background-size: cover;
    background-position: center;   
}
#filho5{
    background-image: url(image-5.png);
    background-size: cover;
    background-position: center;
}
.filho:hover{
    transform: scale(1.2);
    

}
.aa:hover{
    border: 1px solid black;

}
a{
   
    font-size:12px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
}
a:hover{
    width: 100px;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    color: white;
    

}
p{
    color: black;
    font-weight: 600px;
    font-size: 30px;
}
.edit{
 height: 20px;
 width: 20px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;   
}
img{
    width: 200px;
height: 200px; 

}
.b{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding-bottom: 5px;
    transition: 1s;
}
.b:hover{
background-color: gray;
transform: scale(1.2);
}
.cart:hover{
  
    transform: scale(1.2);
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.palavras{
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 15px;
}
.palavra{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mae{
display: wrap;
width: 1343px;
height: 250px;
display: flex;
flex-direction: column;

}

#filha1{ 
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icons{
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;

}
.fi{
    color: white;
    font-size: 12px;
}
.filha2{
    height: 190px;
    width: 1343px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.sobrinha{
  
    height: 170px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    
}
#dim{
    width: 320px;
    height: 40px ;
    gap: 20px;
    display: flex;
}

.ii{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.father{
    background-color: white;
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 90px;
}
a:hover{
    padding: 7px;
    color: purple;
}
.socials{
    background-color: grey;
height: 20px;
width: 20px;
border-radius: 50%;
}
button{
    background-color: white;
    border: 1px solid white;
    height: 30px;
    width: 150px;
    border-radius: 20px ;
    font-size: 12px;
    font-weight: 700;
    transition: 1s;
}
button:hover{
    background-color: black;
    color: white;
}
.escritas{
    padding-left: 25px;
}

.links{
   text-decoration: none;
}
.links:hover{
background-color: black;
color: purple;
}
#so3{
    gap: 5px;
}
.contactos{
    color: black;
height: 15px;
width: 15px;
}

.lista{
    transition: 0.3s;
}
::-webkit-scrollbar{
    display: none;
}
.lista:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
   width: 155px;
    border: 1px solid black;
    border-radius: 10px;
}