*{
    margin: 0;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;   
}
header{
    width: 100%;
    padding: 20px 0;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
}
section{
    padding: 20px 0;
    width:100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.filhos{
    height: 80%;
    width: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.box{
    height: 400px;
    width: 300px;
    background-color: rgb(160, 70, 245);
    border-radius: 40px;
}
.barra{
    padding: 20px 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.icons{
    height: 150px;
    width: 330px;
    background-color: yellow;
    margin: 3px;

}
a{
    text-decoration: none;
    margin: 10px;

}
